.view {
  height: 100vh;
  width: 100vw;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.display-text {
  height: 100%;
  width: 60vw;
}

.display-text img {
  height: 100%;
  width: 100%;
}

.close-btn {
  border: none;
  background-color: red;
  color: white;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 2.5%;
  right: 22.5%;
  font-size: 20px;
}

@media (max-width: 800px) {
  .view {
    display: flex;
    justify-content: start;
  }

  .display-text img {
    height: 100vh;
    width: 100vw;
  }

  .close-btn {
    right: 2.5%;
  }
}
